	  <table class="hwk-header-table">

	    <tr><th colspan="5" class="hwk-header-name">Name:</th></tr>
	    <tr><th colspan="5" class="hwk-header-subtext">(as it would appear on official course roster)</th></tr>
	    <tr>
	      <th class="hwk-header-umail-label">  Umail address:</th>
	      <th class="hwk-header-umail-entry"> @umail.ucsb.edu</th>
	      <th rowspan="3" class="hwk-header-section"> section<br>{{site.sections}}</th>
	    </tr>
	    <tr>
	      <th colspan="2" style="text-align:left; vertical-align:middle; font-size: 8pt !important; font-family:Arial Narrow, sans-serif; line-height:105%;"> Optional: name you wish to be called<br />if different from name above.
	    </th></tr>
	    <tr>
	      <th colspan="2" style="text-align:left; vertical-align:middle; font-size: 8pt !important; font-family:Arial Narrow, sans-serif; line-height: 105%;"> Optional: name of "homework buddy"<br />(leaving this blank signifies "I worked alone"
	  </th></tr></table>
