<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">
  <head>
    {% include head_hwk.html %}
    {% include head/custom.html %}    
    <title>{{ page.num }} - {{ page.desc }} - {{course}}</title>
  </head>
  <body id="page-top">
    <div class="container">
      {% include nav_print.html %}
      {% if page.ready %}
      {% else %}
      {% include not_ready_warning.html %}
      {% endif %}     
      <div id="content"  class="ui-content">
        <div class="hwk-header">
          <div class="hwk-page-header hwk-page-header-template">
	    <table>
	      <tr><td class="page-num">1</td>  </tr>
	      <tr><td class="asn-num">{{page.num}}</td>  </tr>
	      <tr><td class="course-qtr">{{site.course}}&#160;{{site.qtr}}</td>  </tr>
	    </table>
	  </div>


	  {% include hwk_header_table.html %}


<h1>{{page.num}}: {{ page.desc }}</h1>


{% include hwk_asn_table.html %}


{% include hwk_policy_header.html %}	  

          
        </div><!-- hwk-header -->  
          {{ content }}
        </div><!-- content -->
          {% include footer/custom.html %}
          {% include footer.html %}
      </div><!-- container -->
  </body>
</html>
